

<section class="counter">
	<div class="container adj">
		<div class="row text-center">
			<div class="col-md-3 mb-4">
				<i class="fas fa-bolt"></i>
			</div>
			<div class="col-md-3 mb-4">
				<i class="fas fa-book"></i>
			</div>
			<div class="col-md-3 mb-4">
				<i class="fas fa-life-ring"></i>
			</div>
			<div class="col-md-3 mb-4">
				<i class="far fa-address-book"></i>
			</div>
		</div>
		<div class="row text-center">
			<div class="col-md-3 line">
				<h2>129</h2>
				<p>Satisfied Clients</p>
			</div>
			<div class="col-md-3 line">
				<h2>45</h2>
				<p>Projects a Year</p>
			</div>
			<div class="col-md-3 line">
				<h2>970</h2>
				<p>Support Tickets</p>
			</div>
			<div class="col-md-3">
				<h2>190</h2>
				<p>Blog Posts</p>
			</div>
		</div>
	</div>
</section>