

<section  class="contacts" [ngStyle]="{ 'background-image': 'url(' + bg_image + ')'}">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/logo-dark.png" class="mb-3">
          <p>387 Madison Ave 
          <br>New York, NY 10118</p>
          <p>hello@bezel.co 
          <br>+1 301-736-4321</p>
        </div>
        <div class="col-md-3">
          <h6>THE COMPANY</h6>
          <p class="mt-4"><a href="#">About Us</a></p>
          <p><a href="#">What We Do</a></p>
          <p><a href="#">Our Vision</a></p>
          <p><a href="#">Portfolio</a></p>
          <p><a href="#">Careers</a></p>
        </div>
        <div class="col-md-3">
          <h6>RECENT POSTS</h6>
          <p class="mt-4"><a href="#">You Can’t Handle Truth</a></p>
          <p><a href="#">How To Add Value To Your Life</a></p>
          <p><a href="#">A Letter to My 12-Year-Old Self</a></p>
          <p><a href="#">Weak Words Kill Experiences</a></p>
          <p><a href="#">An Almost Static Stack</a></p>
        </div>
        <div class="col-md-3">
          <h6>POPULAR TAGS</h6>
          <button class="sub_btn2">BUSINESS</button>
          <button class="sub_btn2">DESIGN</button>
          <button class="sub_btn2">DEVELOPMENT</button>
          <button class="sub_btn2">INSPIRATION</button>
          <button class="sub_btn2">LIFESTYLE</button>
          <button class="sub_btn2">TIPS</button>
        </div>
      </div>
    </div>
  
    <div class="container-fluid copy_right">
      <div class="row social_footer">
        <div class="col-md-3 text-right pr-0">
          <a href="#"><i class="px-3 fab fa-linkedin-in"></i></a>
          <a href="#"><i class="px-3 fab fa-facebook-f"></i></a>
          <a href="#"><i class="px-3 fab fa-twitter"></i></a>
          <a href="#"><i class="px-3 fab fa-pinterest-p"></i></a>
          <a href="#"><i class="px-3 fab fa-instagram"></i></a>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <p>© 2017 Bezel. All rights reserved.</p>
        </div>
      </div>
    </div>
  </section>