<nav class="navbar navbar-expand-lg p-0 navBox">
  <div class="container">
    <a class="position-relative navbar-brand img_logo py-4" href="#">
      <img src="assets/logo-light.png">
      <img src="assets/logo-dark.png">
    </a>

    <div class="collapse navbar-collapse ul_box" id="navbarSupportedContent">
      <ul class="navbar-nav nav_list ">
        <li class="nav-item px-2">
          <a class="nav-link"  href="#home">Home</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link"  href="#about">About</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link"  href="#team">Team</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link"  href="#services">Services</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link"  href="#works">Works</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link"  href="#pricing">Pricing</a>
        </li>
        <li class="nav-item px-2">
          <a class="nav-link"  href="#contacting">Contact</a>
        </li>
      </ul>

      <ul class="navbar-nav social_nav ">
        <li class="nav-item ml-2">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li class="nav-item">
          <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
    </div>
    </div>
</nav>