

<section id="contacting" class="go_map">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 p-0 mb-0">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3455.0761349442637!2d31.190243514549735!3d30.005970181896377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145846765e2334ff%3A0x29022126e13689c5!2sAl+Haram%2C+Al+Omraneyah+Al+Gharbeyah%2C+Al+Omraneyah%2C+Giza+Governorate!5e0!3m2!1sen!2seg!4v1538604519210" width="650" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
  
        <div class="col-md-6 p-5">
          
          <h2>Get In Touch</h2>
          <p>Let's work together.</p>
          
          <form class="form-group">
            <label>Your Name</label>
            <input class="form-control" type="text" name="username">
            <br>
            <label>Your Email</label>
            <input class="form-control" type="text" name="useremail">
            <br>
            <label>Phone Number</label>
            <input class="form-control" type="text" name="userphone">
            <br>
            <label>Your Message</label>
            <textarea class="form-control" rows="3" style="resize: none;">
            </textarea>
  
            <button class="sub_btn my-4">Send Message</button>
          </form>
        </div>
      </div>
    </div>
  </section>