

<section id="works" class="works">
	<div class="works_header w-75 text-center">
		<h2>Our Works</h2>
		<div class="under_line m-auto"></div>
	</div>

	<div class="works_tabs">
		
		<ul class="nav nav-pills mb-3 w-75 m-auto justify-content-center" id="pills-tab" role="tablist">
		  <li class="nav-item text-center px-3">
		    <a class="nav-link text-center active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">All</a>
		  </li>
		  <li class="nav-item px-3">
		    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Branding</a>
		  </li>
		  <li class="nav-item px-3">
		    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Product Design</a>
		  </li>
		  <li class="nav-item px-3">
		    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-package" role="tab" aria-controls="pills-contact" aria-selected="false">Packaging</a>
		  </li>
		  <li class="nav-item px-3">
		    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-ui" role="tab" aria-controls="pills-contact" aria-selected="false">UI/UX</a>
		  </li>
		</ul>
		<div class="tab-content mt-5" id="pills-tabContent">
		  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
		  	
		  	<div class="container-fluid">
		  		<div class="row">
		  			<div class="col-md-4 p-3 wow fadeInUp">
						<div class="col-md-12">
		  				<img src="assets/portfolio-1.jpg" class="img-fluid">
		  				<div class="tabs_overlay text-center">
		  					<h3 class="m-auto w-50 pt-5">Mux Card</h3>
		  					<p class="m-auto w-50">Branding, UI/UX</p>
						  </div>
						</div>
		  			</div>
		  			<div class="col-md-4 p-3 wow fadeInUp" data-wow-delay=".3s">
		  				<div class="col-md-12">
		  				<img src="assets/portfolio-2.jpg" class="img-fluid">
		  				<div class="tabs_overlay text-center">
		  					<h3 class="m-auto w-50 pt-5">Mux Card</h3>
		  					<p class="m-auto w-50">Branding, UI/UX</p>
						  </div>
						</div>
		  			</div>
		  			<div class="col-md-4 p-3 wow fadeInUp" data-wow-delay=".6s">
		  				<div class="col-md-12">
		  				<img src="assets/portfolio-3.jpg" class="img-fluid">
		  				<div class="tabs_overlay text-center">
		  					<h3 class="m-auto w-50 pt-5">Mux Card</h3>
		  					<p class="m-auto w-50">Branding, UI/UX</p>
						  </div>
						</div>
		  			</div>
		  		</div>
		  		<div class="row">
		  			<div class="col-md-4 p-3">
		  				<div class="col-md-12">	
		  				<img src="assets/portfolio-4.jpg" class="img-fluid">
		  				<div class="tabs_overlay text-center">
		  					<h3 class="m-auto w-50 pt-5">Mux Card</h3>
		  					<p class="m-auto w-50">Branding, UI/UX</p>
						  </div>
						</div>
		  			</div>
		  			<div class="col-md-4 p-3">
		  				<div class="col-md-12">
		  				<img src="assets/portfolio-5.jpg" class="img-fluid">
		  				<div class="tabs_overlay text-center">
		  					<h3 class="m-auto w-50 pt-5">Mux Card</h3>
		  					<p class="m-auto w-50">Branding, UI/UX</p>
						  </div>
						</div>
		  			</div>
		  			<div class="col-md-4 p-3">
		  				<div class="col-md-12">
		  				<img src="assets/portfolio-6.jpg" class="img-fluid">
		  				<div class="tabs_overlay text-center">
		  					<h3 class="m-auto w-50 pt-5">Mux Card</h3>
		  					<p class="m-auto w-50">Branding, UI/UX</p>
						  </div>
						</div>
		  			</div>
		  		</div>
		  	</div>

		  </div>
		  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
		  	
		  	<div class="container-fluid">
		  		<div class="row">
		  			<div class="col-md-4 p-3">
		  				<div class="col-md-12">
		  				<img src="assets/portfolio-1.jpg" class="img-fluid">
		  				<div class="tabs_overlay text-center">
		  					<h3 class="m-auto w-50 pt-5">Mux Card</h3>
		  					<p class="m-auto w-50">Branding, UI/UX</p>
						  </div>
						</div>
		  			</div>
		  			<div class="col-md-4 p-3">
		  				<div class="col-md-12">
		  				<img src="assets/portfolio-3.jpg" class="img-fluid">
		  				<div class="tabs_overlay text-center">
		  					<h3 class="m-auto w-50 pt-5">Mux Card</h3>
		  					<p class="m-auto w-50">Branding, UI/UX</p>
						  </div>
						</div>
		  			</div>
		  			<div class="col-md-4 p-3">
		  				<div class="col-md-12">
		  				<img src="assets/portfolio-5.jpg" class="img-fluid">
		  				<div class="tabs_overlay text-center">
		  					<h3 class="m-auto w-50 pt-5">Mux Card</h3>
		  					<p class="m-auto w-50">Branding, UI/UX</p>
						  </div>
						</div>
		  			</div>
		  		</div>
		  	</div>

		  </div>
		  <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
		  	
		  	<div class="container-fluid">
		  		<div class="row">
		  			<div class="col-md-4 p-3">
		  				<div class="col-md-12">
		  				<img src="assets/portfolio-2.jpg" class="img-fluid">
		  				<div class="tabs_overlay text-center">
		  					<h3 class="m-auto w-50 pt-5">Mux Card</h3>
		  					<p class="m-auto w-50">Branding, UI/UX</p>
						  </div>
						</div>
		  			</div>
		  			<div class="col-md-4 p-3">
		  				<div class="col-md-12">
		  				<img src="assets/portfolio-4.jpg" class="img-fluid">
		  				<div class="tabs_overlay text-center">
		  					<h3 class="m-auto w-50 pt-5">Mux Card</h3>
		  					<p class="m-auto w-50">Branding, UI/UX</p>
						  </div>
						</div>
		  			</div>
		  			<div class="col-md-4 p-3">
		  				<div class="col-md-12">
		  				<img src="assets/portfolio-6.jpg" class="img-fluid">
		  				<div class="tabs_overlay text-center">
		  					<h3 class="m-auto w-50 pt-5">Mux Card</h3>
		  					<p class="m-auto w-50">Branding, UI/UX</p>
						  </div>
						</div>
		  			</div>
		  		</div>
		  	</div>

		  </div>
		  <div class="tab-pane fade" id="pills-package" role="tabpanel" aria-labelledby="pills-contact-tab">
		  	
		  	<div class="container-fluid">
		  		<div class="row">
		  			<div class="col-md-4 p-3">
		  				<div class="col-md-12">
		  				<img src="assets/portfolio-2.jpg" class="img-fluid">
		  				<div class="tabs_overlay text-center">
		  					<h3 class="m-auto w-50 pt-5">Mux Card</h3>
		  					<p class="m-auto w-50">Branding, UI/UX</p>
						  </div>
						</div>
		  			</div>
		  			<div class="col-md-4 p-3">
		  				<div class="col-md-12">
		  				<img src="assets/portfolio-3.jpg" class="img-fluid">
		  				<div class="tabs_overlay text-center">
		  					<h3 class="m-auto w-50 pt-5">Mux Card</h3>
		  					<p class="m-auto w-50">Branding, UI/UX</p>
						  </div>
						</div>
		  			</div>
		  			<div class="col-md-4 p-3">
		  				<div class="col-md-12">
		  				<img src="assets/portfolio-5.jpg" class="img-fluid">
		  				<div class="tabs_overlay text-center">
		  					<h3 class="m-auto w-50 pt-5">Mux Card</h3>
		  					<p class="m-auto w-50">Branding, UI/UX</p>
						  </div>
						</div>
		  			</div>
		  		</div>
		  		<div class="row">
		  			<div class="col-md-4 p-3">
		  				<div class="col-md-12">
		  				<img src="assets/portfolio-6.jpg" class="img-fluid">
		  				<div class="tabs_overlay text-center">
		  					<h3 class="m-auto w-50 pt-5">Mux Card</h3>
		  					<p class="m-auto w-50">Branding, UI/UX</p>
						  </div>
						</div>
		  			</div>
		  		</div>
		  	</div>

		  </div>
		  <div class="tab-pane fade" id="pills-ui" role="tabpanel" aria-labelledby="pills-contact-tab">
		  	
		  	<div class="container-fluid">
		  		<div class="row">
		  			<div class="col-md-4 p-3">
		  				<div class="col-md-12">
		  				<img src="assets/portfolio-1.jpg" class="img-fluid">
		  				<div class="tabs_overlay text-center">
		  					<h3 class="m-auto w-50 pt-5">Mux Card</h3>
		  					<p class="m-auto w-50">Branding, UI/UX</p>
						  </div>
						</div>
		  			</div>
		  			<div class="col-md-4 p-3">
		  				<div class="col-md-12">
		  				<img src="assets/portfolio-4.jpg" class="img-fluid">
		  				<div class="tabs_overlay text-center">
		  					<h3 class="m-auto w-50 pt-5">Mux Card</h3>
		  					<p class="m-auto w-50">Branding, UI/UX</p>
						  </div>
						</div>
		  			</div>
		  		</div>
		  	</div>

		  </div>
		</div>

	</div>
</section>