

<section id="pricing" class="prices">
	<div class="team_header w-50 text-center m-auto">
		<h2>Cheap Prices</h2>
		<p>We provide the best quality.</p>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-3 prices_card p-4">
				<div class="col-md-12 p-4">
				<label>Starter</label>
				<div class="dollar position-relative">
					<i class="fas fa-dollar-sign"></i>
					<h2>9</h2>
				</div>
				<hr>
				<p>Unlimited Connections</p>
				<p>24/7 Support</p>
				<p>Full SSL Protection</p>
				<p>Unlimited Channels</p>
				<button>Sign Up</button>
				</div>
				
			</div>

			<div class="col-md-3 prices_card p-4">
				<div class="col-md-12 p-4">
				<label>Silver</label>
				<div class="dollar position-relative">
					<i class="fas fa-dollar-sign"></i>
					<h2>19</h2>
				</div>
				<hr>
				<p>Unlimited Connections</p>
				<p>24/7 Support</p>
				<p>Full SSL Protection</p>
				<p>Unlimited Channels</p>
				<button>Sign Up</button>
				</div>
				
			</div>

			<div class="col-md-3 prices_card">
				<div class="col-md-12 p-4">
				<label>Gold</label>
				<div class="best_value">BEST VALUE</div>
				<div class="dollar position-relative">
					<i class="bigger_i fas fa-dollar-sign"></i>
					<h2 class="bigger">29</h2>
				</div>
				<hr>
				<p class="mb-4">Unlimited Connections</p>
				<p class="mb-4">24/7 Support</p>
				<p class="mb-4">Full SSL Protection</p>
				<p class="mb-4">Unlimited Channels</p>
				<button class="mt-4">Sign Up</button>
				</div>
				
			</div>


			<div class="col-md-3 prices_card p-4">
				<div class="col-md-12 p-4">
				<label>Platinum</label>
				<div class="dollar position-relative">
					<i class="fas fa-dollar-sign"></i>
					<h2>49</h2>
				</div>
				<hr>
				<p>Unlimited Connections</p>
				<p>24/7 Support</p>
				<p>Full SSL Protection</p>
				<p>Unlimited Channels</p>
				<button>Sign Up</button>
				</div>
				
			</div>

		</div>
	</div>

</section>