

<section id="services" class="doing" [ngStyle]="{ 'background-image': 'url(' + image + ')' }">
	<div class="overlay">
		<div class="container doing_icons">
			<div class="row text-center sub_doing_icons">
				<div class="col-md-2">
					<div id="svg_test">
						<i class="fas fa-paint-brush"></i>
					</div>
					<h4>STUNNING DESIGN</h4>
				</div>
				<div class="col-md-2">
					<i class="fas fa-stopwatch"></i>
					<h4>TIME SAVER</h4>
				</div>
				<div class="col-md-2">
					<i class="fas fa-pencil-alt"></i>
					<h4>CLEAN CODE</h4>
				</div>
				<div class="col-md-2">
					<i class="far fa-compass"></i>
					<h4>CUSTOMIZABLE</h4>
				</div>
				<div class="col-md-2">
					<i class="fas fa-table"></i>
					<h4>PERFECT LAYOUT</h4>
				</div>
				<div class="col-md-2">
					<i class="far fa-gem"></i>
					<h4>RETINA READY</h4>
				</div>
			</div>

			<div class="row doing_desc">
				<div class="col-md-6">
					<div class="col-md-9 pl-0 wow fadeInLeft">
						<h2>What We Do.</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam ipsam ullam incidunt itaque nemo omnis temporibus totam quibusdam repellat vero, recusandae excepturi dignissimos velit et alias amet, quia facilis perferendis.</p>
					</div>
					<div class="col-md-3"></div>
				</div>
				<div class="col-md-6 wow fadeInRight">
					<div class="row">
						<div class="col-md-6">
							<ul>
								<li class="py-2"><i class="pr-2 far fa-check-circle"></i>
								Research</li>
								<li class="py-2"><i class="pr-2 far fa-check-circle"></i> Opportunity Analysis</li>
								<li class="py-2"><i class="pr-2 far fa-check-circle"></i>
								Consulting</li>
								<li class="py-2"><i class="pr-2 far fa-check-circle"></i>
								Brand Planning</li>
								<li class="py-2"><i class="pr-2 far fa-check-circle"></i>
								Customer Support</li>
							</ul>
						</div>
						<div class="col-md-6">
							<ul>
								<li class="py-2"><i class="pr-2 far fa-check-circle"></i>
								Logo & Branding</li>
								<li class="py-2"><i class="pr-2 far fa-check-circle"></i>
								Style guides</li>
								<li class="py-2"><i class="pr-2 far fa-check-circle"></i>
								Motion graphics</li>
								<li class="py-2"><i class="pr-2 far fa-check-circle"></i>
								UX/UI-design</li>
								<li class="py-2"><i class="pr-2 far fa-check-circle"></i>
								Social media design</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>