

<section id="about" class="second_section">
	<div class="section_header w-50 text-center m-auto">
		<h6>WHO WE ARE</h6>
		<h3 class="mb-0">We are an innovative company. We develop and design <span class="auto_type"></span>for</h3>

		<h3>costumers around the world. Our clients are some of the most forward-looking companies in the world.</h3>
		<button class=" header_btn">
			READ MORE
		</button>
	</div>

	<div class="container-fluid cont">
		<div class="row" style="border-top: 0.5px solid rgba(0,0,0,0.1)">
			<div class="col-md-1"></div>
			<div class="col-md-4 px-0 tabs_section">
				<nav>
				  <div class="nav tab_nav" id="nav-tab" role="tablist">
				    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">MISSIONS</a>
				    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">CUSTOMERS</a>
				    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">IDEAS</a>
				  </div>
				</nav>

				<div class="tab-content" id="nav-tabContent">
				  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"><p class="mb-4">Expedita minima fugiat ea maiores itaque natus animi officia iure deleniti unde, facilis velit optio! Culpa quis neque tempora deleniti assumenda aperiam.
				  	<br>
				  	<br>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt neque porro quia quidem saepe assumenda asperiores quo ratione ipsam nulla quisquam.</p>
                  <button class="tabs_btn">READ MORE</button>
              	  </div>

				  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"><p class="mb-4">PpItaque omnis tenetur placeat facere mollitia molestias, doloribus pariatur sapiente qui hic laboriosam aut accusamus repellat ab perspiciatis commodi voluptates.
				  	<br>
				  	<br>
                  Amet reiciendis natus dolorem nisi iusto vel laudantium quisquam tenetur, saepe rem ducimus, harum possimus delectus ex neque numquam officia! Dolore, ut?</p>
                   <button class="tabs_btn">READ MORE</button>
              	  </div>

				  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab"><p class="mb-4">Eligendi dolorem repellat, officiis nobis. Itaque repudiandae, eligendi totam nihil aliquid, vitae quos cum minus nulla autem, in? Temporibus, accusantium.
				  	<br>
				  	<br>
                  Iusto et omnis vel, ex illo rem qui provident sed deserunt deleniti voluptatem, labore. Quia modi dignissimos, dicta sapiente aspernatur, consectetur veritatis.</p>
                   <button class="tabs_btn">READ MORE</button>
              	  </div>
				</div>
			</div>
			<div class="col-md-1 "></div>
			<div class="col-md-6 px-0">
				<img src="assets/bg-image-30.jpg" class="img-fluid">
			</div>
		</div>
	</div>
</section>