

<section id="team" class="creative_team">
	<div class="team_header w-50 text-center m-auto">
		<h2>Creative Team</h2>
		<p>We are digital thinker</p>
	</div>

	<div class="container team">
		<div class="row">
			<div class="col-md-3 wow fadeInUp">
				<div class="overlay_img">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-linkedin-in"></i></a>
					<h4>LUKE CAGE</h4>
					<p>Founder & CEO</p>
				</div>
				<img src="assets/team-1.jpg" class="img-fluid">
				
			</div>
			<div class="col-md-3 wow fadeInUp" data-wow-delay=".3s">
				<div class="overlay_img">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-linkedin-in"></i></a>
					<h4>JESSICA JONES</h4>
					<p>Product Designer</p>
				</div>
				<img src="assets/team-2.jpg" class="img-fluid">
				
			</div>
			<div class="col-md-3 wow fadeInUp" data-wow-delay=".6s">
				<div class="overlay_img">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-linkedin-in"></i></a>
					<h4>MATT MURDOCK</h4>
					<p>Lead Developer</p>
				</div>
				<img src="assets/team-3.jpg" class="img-fluid">
				
			</div>
			<div class="col-md-3 wow fadeInUp" data-wow-delay="1s">
				<div class="overlay_img">
					<a href="#"><i class="fab fa-facebook-f"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-linkedin-in"></i></a>
					<h4>CLAIRE TEMPLE</h4>
					<p>Sales Manager</p>
				</div>
				<img src="assets/team-4.jpg" class="img-fluid">
				
			</div>
		</div>
	</div>
</section>